.Notice {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: #282c34;
}
.Notice_Button {
    position: absolute;
    left: 88%;
    top: 87%;
    width: 5vh;
}

.Notice_Textarea{
    width:60%;
    height:60vh;
    resize: none;
    font-size: calc(10px + 2vmin);
}

.Notice_Title{
    width:25%;
    height: 2%;
    font-size: calc(4px + 1vmin);
}